/* Root Scope */
:root {
  /* CSS Variables */

  /* Define Colors as Colors */
  --black: #1b2d45;
  --red: #da625b;
  --yellow: #fde24f;
  --darkBlue: #00214d;
  --lightGrey: #f2f4f6;
  --white: #fff;

  /* Masullo Specific */
  /* --green: #5c915c; */
  --green: #a3c1ad;

  /* Define Colors Intentions */
  --background: var(--lightGrey);
  --textColor: var(--black);
  --lineColor: var(--yellow);
  --cardBackground: var(--white);
  --headerBackground: var(--green);
  --headerTextColor: var(--black);
  --footerTextColor: var(--black);
  --footerBackground: var(--green);

  /* Styles */
  /* --line: solid 1px var(--lineColor); */

  /* Typography */
  /* 100% is 16px, 112.5% is 18px */
  --baseFontSize: 100%;
  --headingFont: "Space Mono", monospace;
  --bodyFont: "Work Sans", sans-serif;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.2rem;
  --headerHeight: 3rem;
  --footerHeight: 3rem;
  --borderRadius: 10px;
}

/* Don't use IDs for styling, use element or classes */
/* Don't use !important */

/* Specificity */
/* 
Least to Most
 - Elements h1, div
 - Class, attribute
 - IDs
 - !important
 - Load Order, last will apply

 - Nested classes will take precedence over single class
*/

/* Typography 
https://type-scale.com/
https://www.fontpair.co/

em is relative to parent or container
rem is relative to html root
avoid pixels

*/

/* From https://type-scale.com/ */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400|Space+Mono:400");

/*16px*/
html {
  font-size: var(--baseFontSize);
  /* This adjusts how the padding is measured?? */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

main {
	padding-bottom: calc(2rem + var(--headerHeight));
/* display: flex; */
  /* flex-wrap: wrap; */
/* padding: calc(2rem + var(--headerHeight)); */
/* margin-top: 2rem + calc(var(--headerHeight)); */
}

header {
  background: var(--headerBackground);
  height: var(--headerHeight);
  color: var(--headerTextColor);
  padding: var(--containerPadding);
  box-shadow: var(--level-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--yellow);
}

#hamburger {
  display: none;
  width: 32px;
  height: 32px;
  padding: 2px;
}

#myLinks {
  /* display: none; */
  /* width: 100%; */
  /* margin-top: calc(var(--headerHeight)); */
  background: var(--black);
  padding: 1rem 0 1rem 1rem;
  text-align: center;
}

#myLinks a {
  color: var(--white);
  text-decoration: none;
}

#myLinks a + a {
  margin-left: 10px;
}

#myLinks a:hover {
  border-bottom: solid 2px var(--lineColor);
}

header nav a {
  color: var(--headerTextColor);
  text-decoration: none;
}

header nav a:hover {
  border-bottom: solid 2px var(--lineColor);
}

header span {
  font-size: 1.25rem;
}

/* The plus a only puts the margin on a element it it is next to another element */
header nav a + a {
  margin-left: 10px;
}

p a {
  color: var(--red);
  text-decoration: none;
}

p a:hover {
  color: var(--darkBlue);
  font-size: 1.025rem;
  transition: 0.2s;
  border-bottom: solid 2px var(--yellow);
}

/* 
https://res.cloudinary.com/masullodevcloud/image/upload/v1606325594/LPA/cub_ur1xe0.png
/images/cub.png
*/
.carousel {
  /* background-image: url("https://res.cloudinary.com/masullodevcloud/image/upload/q_auto,f_auto/v1606325594/LPA/cub_ur1xe0.png"); */
  background-image: url("images/leaf.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: calc(1rem + var(--headerHeight));
  display: flex;
  justify-content: center;
  align-items: center; */
  /* position: fixed; */
  /* left: 0; */
  /* top: var(--headerHeight); */
  /* width: 100%; */
}

.logo {
  background-color: var(--white);
  display: flex;
  justify-content: center;
	align-items: center;
  max-height: 350px;
  max-width: 500px;
  opacity: .7;
  border-radius: var(--borderRadius);
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}

.card {
  margin: 2rem;
  padding: 2em;
  background: var(--cardBackground);
  box-shadow: var(--level-3);
  border-radius: var(--borderRadius);
  scroll-margin-top: 100px;
}

.card h3 {
  color: var(--darkBlue);
}

/* First child element within a card */
.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

footer {
  background: var(--footerBackground);
  color: var(--footerTextColor);
  height: var(--footerHeight);
  padding: var(--containerPadding);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  padding-left: 1rem;
}

/* Media Queries */
/* Can't use css variables in media queries */
/* Small screen version */
/* Small devices like iPhone 5 and new foldable Samsung */
@media only screen and (max-width: 675px) {
  html {
    font-size: 75%;
  }

  main {
    padding: 5rem 1rem calc(2rem + var(--headerHeight)) 1rem;
  }

  header {
    padding-bottom: calc(1rem + var(--containerPadding));
  }

  header nav {
    display: none;
	}
	
	header img {
    width: 25%;
  }

  header span {
    font-size: 99%;
  }

  #hamburger {
    display: block;
  }

  .carousel {
    height: 30vh;
  }

  .logo {
    margin: 2rem;
  }

  .card {
    margin: 1rem;
    padding: 1em;
	}
	
	.imgBig {
		max-width: 160px;
		max-height: 120px;
	}

  footer {
    padding-bottom: calc(0.5rem +var(--containerPadding));
  }
}

/* Makes myLinks menu hidden when rotate back to larger screen (e.g. landscape on phone) */
@media only screen and (min-width: 676px) {
  #myLinks {
    display: none !important;
  }
}
